<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <title>Liste des étudiants</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
</head>
<body class="container">
    <h1>Students</h1>
   <form method="get" th:action="@{index}">
        <input type="text" name="Search" th:value="${keyword}"/>
        <button class="btn btn-primary" type="submit">Click!</button>
    </form>
    <table class="table align-middle">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Adress</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="s:${listOfStudents}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.fullname}"></td>
            <td th:text="${s.address}"></td>
            <td th:text="${s.date}"></td>
            <td>
                <a class="btn btn-primary"
                   th:href="@{edit(id=${s.id})}"
                   th:text="Edit"></a>
            </td>
            <td>
                <a class="btn btn-danger"
                   th:href="@{delete(id=${s.id},search=${keyword},page=${currentPage})}"
                   th:text="Delete"
                   onclick="return confirm('Yes or No')"></a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item me-2" th:each="p,stat:${pages}">
                <a th:class="${stat.index == currentPage} ? 'btn btn-primary' : 'btn btn-outline-primary'"
                   class="btn btn-outline-primary"
                   th:text="${stat.index}"
                   th:href="@{index(page=${stat.index},search=${keyword})}">
                </a>
            </li>
        </ul>
    </div>

</body>
</html>